/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  margin: 0;
  background-image: url(../images/bgtile.png);
  background-repeat: repeat-x;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
}
main {
  padding-top: 80px;
  width: 80%;
  margin: 0 auto;
}
#phones {
  vertical-align: top;
  border: 1px red;
  width: 39%;
  display: inline-block;
}
#content {
  vertical-align: top;
  width: 60%;
  max-width: 504px;
  display: inline-block;
}
header {
  margin-top: 10px;
}
header button {
  background-color: rgba(255,255,255,.2);
  display: inline-block;
  border-radius: 3px;
  border-color: #1c5380;
  font-size: 16px;
  color: white;
  margin: 15px;
  padding: 5px 15px 10px 10px;
  float: right;
}
header button img {
  margin: 5px 10px -5px 0px;
}
#text {
  background-image: url(../images/frame.png);
  background-repeat: no-repeat;
  max-width: 504px;
  margin-top: 25px;
  padding: 25px;
}
#text img {
  padding-left: 15px;
}
h1 {
  margin: 0;
  color: #06365f;
  font-size: 26px;
  line-height: 34px;
  padding: 10px 15px;
}
p{
  font-size: 14px;
  line-height: 22px;
  padding: 15px;
}
ul {
  text-align: center;
  list-style: none;
  margin: 0 auto;
  max-width: 80%;
}
li {
  display: inline-block;
}